<% provide(:title, "Forgot Password") %>
<h1>Forgot Password</h1>

<%= render 'shared/flash_error_messages' %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :uemail %>
        <%= f.email_field :uemail, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Home', root_path %>