<% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>
      <ul>
        <% @dog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @dog, html: {multipart: true} do |f| %>

  <div class="avatar">
    <p>
      <label><h2><%= f.label :dname %>'s picture</h2></label>
      <%= image_tag(@dog.avatar_url(:thumb)) if @dog.avatar? %><br>
      <%= f.file_field :avatar %>
    </p>

  </div>


  <div class="field">
    <%= f.label :dname, "Dog Name" %><br>
    <%= f.text_field :dname %>
  </div>
  <div class="field">
    <%= f.label :breed, "Dog Breed" %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :variety, "Breed Variety" %><br>
    <%= f.text_field :variety %>
  </div>
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br>
    <%= f.date_select :dob, order: [:month, :day, :year], start_year: Date.current.year - 20, end_year: Date.current
    .year %>
  </div>
  <div class="field">
    <%= f.label :height, "Height" %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight, "Weight (In pounds)" %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :pedinum, "Pedigree Number" %><br>
    <%= f.text_field :pedinum %>
  </div>
  <div class="field">
    <%= f.label :occupation, "Dog Occupation" %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :workcert, "Work Certificate Number" %><br>
    <%= f.text_field :workcert %>
  </div>
  <div class="field">
    <%= f.label :health, "Health Concerns?" %><br>
    <%= f.text_field :health %>
  </div>
  <div class="field">
    <%= f.label :dcomments, "Additional Comments" %><br>
    <%= f.text_area :dcomments %>
  </div>

    <% if session[:user_id] %>
        <% if @current_user.try(:admin?) %>
            <div class="field">
              <%= f.label :user_id, "Dog Owner" %><br>
              <%= f.collection_select :user_id, User.all, :id, :ufname %>
            </div>
        <% end %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
