<p id="notice"><%= notice %></p>

<h1>Listing Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Dname</th>
      <th>Breed</th>
      <th>Variety</th>
      <th>Dob</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Pedinum</th>
      <th>Occupation</th>
      <th>Workcert</th>
      <th>Health</th>
      <th>Dcomments</th>
      <th>Avatar</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.dname %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.variety %></td>
        <td><%= dog.dob %></td>
        <td><%= dog.height %></td>
        <td><%= dog.weight %></td>
        <td><%= dog.pedinum %></td>
        <td><%= dog.occupation %></td>
        <td><%= dog.workcert %></td>
        <td><%= dog.health %></td>
        <td><%= dog.dcomments %></td>
        <td><%= dog.avatar %></td>
        <td><%= dog.user %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
