<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label 'First Name' %><br>
    <%= f.text_field :ufname %>
  </div>
  <div class="field">
    <%= f.label 'Middle Name' %><br>
    <%= f.text_field :umname %>
  </div>
  <div class="field">
    <%= f.label 'Last Name' %><br>
    <%= f.text_field :ulname %>
  </div>
  <div class="field">
    <%= f.label 'E-mail address' %><br>
    <%= f.text_field :uemail %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label 'City' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label 'State' %><br>
    <%= select_tag :state, options_for_select(us_states) %>
  </div>
  <div class="field">
    <%= f.label 'Zip' %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>


    <% if session[:user_id] %>
        <% if @current_user.try(:admin?) %>
            <div class="field">
              <%= f.label :role %><br>
              <%= f.select(:role, User.roles.keys.map {|role| [role.titleize, role]}) %>
            </div>
        <% end %>
    <% end %>

  <div class="actions">
    <%= f.submit 'Update Profile' %>
  </div>
<% end %>
