<h1>Editing User</h1>
<p>To change your avatar picture which is linked to your email address click <%= link_to 'Here', 'http://en.gravatar.com/' %></p>
<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', access_authenticated_path %>
<% if session[:user_id] %>
    <% if @current_user.try(:admin?) %>
        | <%= link_to 'Users', users_path %>
    <% end %>
<% end %>

