<p id="notice"><%= notice %></p>

<h1>Sport Dog Network Registered Users</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>E-mail Address</th>
      <th>Username</th>
      <th>Role</th>
      <th>Email Confirmed?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.ufname %></td>
        <td><%= user.umname %></td>
        <td><%= user.ulname %></td>
        <td><%= user.uemail %></td>
        <td><%= user.username %></td>
        <td><%= user.role %></td>
        <td><%= user.email_confirmed %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Admin Menu', access_admin_url %>
