<p id="notice"><%= notice %></p>

<% provide(:title, @user.ufname) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.ufname + " " + @user.ulname %>
</h1>

<p>
  <strong>First Name:</strong>
  <%= @user.ufname %>
</p>

<p>
  <strong>Middle Name:</strong>
  <%= @user.umname %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @user.ulname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.uemail %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<% if session[:user_id] %>
    <% if @current_user.try(:admin?) %>
        <%= link_to 'Users', access_admin_path %>
    <% else %>
        <%= link_to 'Back', access_authenticated_path %>
    <% end %>
<% end %>

