<% @page_title = "Admin Menu" %>

<div class="menu">
  <h1>SDN Administrator Menu</h1>
  <div class="identity">Logged in as: <%= session[:username] %></div>
  <ul>
    <li><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Manage Dogs", dogs_path %></li>
    <li><%= link_to "Manage Events", events_path %></li>
    <li><%= link_to("Logout", :action => 'logout') %></li>
  </ul>
</div>
