<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ename, "Event Name" %><br>
    <%= f.text_field :ename %><br>
    <%= image_tag(@event.avatar_url(:event)) if @event.avatar? %><br>
    <%= f.file_field :avatar %>
  </div>

    <!--
  <div class="field">
    <%= f.label :etime, "Event Date and Time" %><br>
    <%= f.datetime_select :etime, order: [:month, :day, :year], start_year: Date.current.year,
                          end_year: Date.current.year + 5 %><br>
    <%= f.label :time_zone, "Time Zone" %><br>
    <%= f.text_field :time_zone %>
  </div>
  -->
  <div>
    <%= f.label :edate, "Event Date"%>
    <%= f.datetime_select :etime, order: [:month, :day, :year], start_year: Date.current.year,
                          end_year: Date.current.year + 5 %><br>
  </div>

  <div>
    <%= f.label :etime, "Event Time" %>
    <%= f.text_field :etime %>
  </div>

  <div class="field">
    <%= f.label :edescription, "Description of Event" %><br>
    <%= f.text_area :edescription %>
  </div>
  <div class="field">
    <%= f.label :estateprov, "State or Provice" %><br>
    <%= f.text_field :estateprov %>
  </div>
  <div class="field">
    <%= f.label :ecity, "City/Town" %><br>
    <%= f.text_field :ecity %>
  </div>
  <div class="field">
    <%= f.label :ezippostal, "Postal Code" %><br>
    <%= f.text_field :ezippostal %>
  </div>
  <div class="field">
    <%= f.label :ecountry, "Country" %><br>
    <%= f.text_field :ecountry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
