<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date & Time</th>
      <th>Time Zone</th>
      <th>Description</th>
      <th>State</th>
      <th>city</th>
      <th>Zip</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.ename %></td>
        <td><%= event.etime.strftime("%d/%m/%y: %H:%M ") %></td>
        <td><%= event.time_zone %></td>
        <td><%= event.edescription %></td>
        <td><%= event.estateprov %></td>
        <td><%= event.ecity %></td>
        <td><%= event.ezippostal %></td>
        <td><%= event.ecountry %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
