<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>The Sporting Dog Network</h1>

<%= render 'shared/flash_error_messages' %>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Login', access_login_path %>
        <td><%= link_to 'Forgot Password?', new_password_reset_path %></td>
        <td><%= link_to 'Register', public_registration_path %></td>
        <td><%= link_to 'Search Events', public_event_search_path %></td>
        <td><%= link_to 'Search Dogs', '#' %></td>
        <td><%= link_to 'Links', '#' %></td>
      </tr>
  </tbody>
</table>